:root {
    --q-black: #16191E;
    --q-darkgrey: #20252C;
    --q-midgrey: #343B47;
    --q-lightgrey: #A1A9B6;
    --q-offwhite: #DADDE2;
    --q-white: #FFFFFF;
    --q-blue: #0A50C8;
    --q-green: #0A6E0A;
    --q-yellow: #FADC32;
    --q-red: #DC0A0A;
    --foreground-color: var(--q-offwhite);
    --highlight-color: var(--q-offwhite);
    --q-button-disabled-bg-color: var(--q-black);
    --q-button-disabled-color: var(--q-offwhite);
    --q-font-size: 1.5rem;
}

div {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--q-darkgrey);
    color: var(--foreground-color);
}

body {
    font-feature-settings: 'calt' off;
    font-family: Nunito, sans-serif;
    font-style: normal;
    line-height: 1.375rem; /* 137.5% */
}

.container {
    margin: 0 auto;
    width: 50em;
    display: flex;
    flex-direction: column;
}


.large-logo {
    margin: 2em auto;
    width: 20%;
}

.large-logo img {
    width: 100%;
}

.slideshow {
    width: 100%;
    padding-bottom: calc(100% - 4.6rem);
    overflow: hidden;
    position: relative;
}

.slideshow .impression {
    width: 100%;
    height: 100%;
    margin: 0 0 1rem 0;
    position: absolute;
    animation: slideShow 455s infinite;
}

.slideshow .impression:nth-child(1) {animation-delay: 0s;}
.slideshow .impression:nth-child(2) {animation-delay: 5s;}
.slideshow .impression:nth-child(3) {animation-delay: 10s;}
.slideshow .impression:nth-child(4) {animation-delay: 15s;}
.slideshow .impression:nth-child(5) {animation-delay: 20s;}
.slideshow .impression:nth-child(6) {animation-delay: 25s;}
.slideshow .impression:nth-child(7) {animation-delay: 30s;}
.slideshow .impression:nth-child(8) {animation-delay: 35s;}
.slideshow .impression:nth-child(9) {animation-delay: 40s;}

@keyframes slideShow {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.impression img {
    width: 100%;
    height: 100%;
}

.thank-you {
    margin: 0 auto;
    width: 75%;
}
.thank-you img {
}

h1, h2, h3 {
    text-align: center;
    line-height: normal;
    margin: 1rem 2.3rem;
}

p {
    font-size: var(--q-font-size);
    text-align: center;
    margin: 0.5rem 2.3rem;
    line-height: normal;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formWrapper input {
    font-size: var(--q-font-size);
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 15em;
    border: 2px solid var(--q-offwhite);
    background-color: var(--q-black);
    color: var(--q-offwhite);
    border-radius: 0.75rem;
}
.formWrapper input[type=submit] {
    padding: 0.5rem 3rem;
    width: inherit;

}
.formWrapper input[type=submit]:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    :root {
        --q-font-size: 1rem;
    }
    body {
        line-height: 1rem; /* 137.5% */
    }
    .large-logo {
        margin: 1em auto;
    }
    .impression {
        padding: 0 2.3rem;
    }
}