:root {
    --q-black: #16191E;
    --q-darkgrey: #20252C;
    --q-midgrey: #343B47;
    --q-lightgrey: #A1A9B6;
    --q-offwhite: #DADDE2;
    --q-white: #FFFFFF;
    --q-blue: #1A5EBF;
    --q-green: #00AB6D;
    --q-yellow: #EBD500;
    --q-red: #DC0A0A;
    --foreground-color: var(--q-offwhite);
    --highlight-color: var(--q-offwhite);
    --q-button-disabled-bg-color: var(--q-black);
    --q-button-disabled-color: var(--q-offwhite);
    --q-font-size: 1.2rem;
}

div {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--q-darkgrey);
    color: var(--foreground-color);
}

body {
    font-feature-settings: 'calt' off;
    font-family: Nunito, sans-serif;
    font-style: normal;
    line-height: 1.375rem; /* 137.5% */
}

.container {
    margin: 0 auto;
    width: 50em;
    display: flex;
    flex-direction: column;
}


.large-logo {
    margin: 1rem 2rem;
}

.large-logo img {
    width: 100%;
}

.slideshow {
    width: 100%;
    padding-bottom: calc(100% - 4.6rem);
    overflow: hidden;
    position: relative;
}

.slideshow .impression {
    width: 100%;
    height: 100%;
    margin: 0 0 1rem 0;
    position: absolute;
    background-image: url("/images/cube_solo_bw.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;

    animation-name: fader;
    animation-play-state: running;
    animation-direction: alternate-reverse;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes fader {
    0% { background-image: url("/images/lola_cube_bw.png"); }
    16.6% { background-image: url("/images/daan_cube_bw.png"); }
    33.3% { background-image: url("/images/kathinka_cube_bw.png"); }
    50% { background-image: url("/images/freek_cube_bw.png"); }
    66.7% { background-image: url("/images/hans_cube_bw.png"); }
    83.3% { background-image: url("/images/milou_cube_bw.png"); }
    100% { background-image: url("/images/cube_solo_bw.png"); }
}

.fader:nth-child(1) {--i: 0;}
.fader:nth-child(2) {--i: 1;}
.fader:nth-child(3) {--i: 2;}
.fader:nth-child(4) {--i: 3;}
.fader:nth-child(5) {--i: 4;}
.fader:nth-child(6) {--i: 5;}
.fader:nth-child(7) {--i: 7;}

.impression img {
    width: 100%;
    height: 100%;
}

.thank-you {
    margin: 0 auto;
    width: 75%;
}
.thank-you img {
}

h1, h2, h3 {
    text-align: center;
    line-height: normal;
    margin: 1rem 1.3rem;
}

h1 {
    font-size: large;
    margin-bottom: 1rem;
}

h1 .subtitle {
    font-size: smaller;
}

h2 {
    font-size: large;
    margin-bottom: 1rem;
}

h3 {
    font-size: large;
    margin-bottom: 1rem;
}


p {
    font-size: var(--q-font-size);
    text-align: center;
    margin: 0.5rem 1.3rem;
    line-height: normal;
    color: var(--q-offwhite);
}


.privacy p {
    text-align: unset;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formWrapper input {
    font-size: var(--q-font-size);
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 15em;
    border: 2px solid var(--q-offwhite);
    background-color: var(--q-darkgrey);
    color: var(--q-offwhite);
    border-radius: 0.750rem;
}

.formWrapper input[type=submit] {
    border: 2px solid var(--q-darkgrey);
    background-color: var(--q-offwhite);
    font-weight: bold;
    color: var(--q-darkgrey);
    padding: 0.5rem 7rem;
    width: inherit;

}
.formWrapper input[type=submit]:hover {
    cursor: pointer;
}

.formWrapper .button-link {
    padding: 0.5rem;
    width: inherit;
    font-size: var(--q-font-size);
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    width: 15em;
    border: 2px solid var(--q-offwhite);
    background-color: var(--q-offwhite);
    color: var(--q-darkgrey);
    border-radius: 0.75rem;
    cursor: pointer;
    text-decoration: none;
}


@media (max-width: 500px) {
    :root {
        --q-font-size: 1rem;
    }
    body {
        line-height: 1rem; /* 137.5% */
    }
    .large-logo {
        margin: 1em auto;
    }
    .impression {
        padding: 0 2.3rem;
    }
}

.doc-page {
    background-color: var(--q-darkgrey);
    color: var(--q-offwhite);
    margin-top: 1rem;
}
.doc-section {
    margin-top: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--q-offwhite);
    padding: 0.5rem 0;
}

.doc-section:last-of-type {
    border: none;
}

.doc-page h1, h2 {
    margin: 0;
    padding: 0.60em 1.15em;
    background-color: var(--q-lightgrey);
    font-weight: normal;
    color: var(--q-offwhite);
}


.doc-section .image-row {
    padding: 0.5em 1.15em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.doc-section .image-row img {
    width: 80%;
}
.doc-section .image-row ol {
    padding-left: 1.75rem;
    font-size: smaller;
}

.doc-example {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.doc-example .image-explain {
    margin: auto 0;
     font-size: var(--q-font-size);
     color: var(--q-offwhite);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.navbar .logo {
    height: 3rem;
    padding: 0.5rem 1rem;
    text-align: center;
}
.menuItems {
    display: flex;
    gap: 0.75rem;
    list-style-type: none;
    padding: 0;
    margin: auto 0.5rem;
    height: 2rem;
    justify-content: flex-end;
}

#topMenu {
    justify-content: flex-start;
}

#topMenu > li {
    margin: auto 0;
}

#topMenu > li svg {
    display: block;
    margin: auto;
    width: 1.5rem;
    color: var(--q-offwhite);
}

.navbar .logo img {
    height: 100%;
    object-fit: contain;
}


