<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QubiGo</title>
    <link rel="stylesheet" href="css/main.css?7878">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YYSJWTWYGN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-YYSJWTWYGN');
    </script>
</head>

<body>
    <div class="container">
        <div class="large-logo">
            <img src="images/qubigo-logo-small.png?0.3.4" alt="qubigo-logo" />
        </div>
        <div class="privacy">
            {{content}}
        </div>
</body>

</html>
